<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ABC Inc</title>
	</head>
<body>
    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>

    <div class="culmn">
        <header id="main_menu" class="header navbar-fixed-top">
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                        <div class="nave_menu">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#home">
                                            <img src="assets/images/logo.png" />
                                        </a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#home">HOME</a></li>
                                            <li><a href="#service">Service</a></li>
                                            <li><a href="#team">TEAMS</a></li>
                                            <li><a href="#portfolio">WORKS</a></li>
                                            <li><a href="#testimonial">Testimonial</a></li>
                                            <li><a href="#contact">CONTACT</a></li>


                                            <li>
                                                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form class="navbar-form" role="search">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Search">
                                                            </div>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>


                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header> <!--End of header -->

        <section id="home" class="home">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider text-center">
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>WELCOME TO OUR LOGIC</h1>
                                        <p>We Make Awesome Theme For Your Business</p>
                                        <div class="home_btn">
                                            <a href="https://bootstrapthemes.co" class="btn btn-primary">LEARN MORE</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>WELCOME TO OUR LOGIC</h1>
                                        <p>We Make Awesome Theme For Your Business</p>
                                        <div class="home_btn">
                                            <a href="https://bootstrapthemes.co" class="btn btn-primary">LEARN MORE</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>WELCOME TO OUR LOGIC</h1>
                                        <p>We Make Awesome Theme For Your Business</p>
                                        <div class="home_btn">
                                            <a href="https://bootstrapthemes.co" class="btn btn-primary">LEARN MORE</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_service_area">
                            <div class="main_service_content">
                                <div class="service_tabe">
                                    <!-- Nav tabs -->
                                    <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#webdesign" aria-controls="webdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />WEB DESIGN</a></li>
                                        <li role="presentation"><a href="#appdesign" aria-controls="appdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />APP DESIGN</a></li>
                                        <li role="presentation"><a href="#graphicdesign" aria-controls="graphicdesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />GRAPHIC DESIGN</a></li>
                                        <li role="presentation"><a href="#gamedesign" aria-controls="gamedesign" role="tab" data-toggle="tab"><i class="fa fa-map-marker"></i> <br />GAME DESIGN</a></li>
                                    </ul>

                                    <!-- Tab panes -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section id="about" class="about">
            <div class="container">
                <div class="row">

                    <div class="main_about_area sections">
                        <div class="col-sm-12">

                            <div class="main_about_content">
                                <div class="row">

                                    <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                        <div class="single_about_right_content">
                                            <div class="head_title">
                                                <h3>ABOUT LOGIC</h3>
                                                <div class="separator"></div>
                                            </div>

                                            <div class="single_about">
                                                <div class="single_ab_icon">
                                                    <div class="ab_border_right"></div>
                                                    <i class="fa fa-coffee"></i>
                                                </div>
                                                <div class="single_ab_text">
                                                    <h3>RESPONSIVE DESIGN</h3>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        Lorem Ipsum has been the industry's standard dummy text
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="single_about">
                                                <div class="single_ab_icon">

                                                    <i class="fa fa-paint-brush"></i>
                                                </div>
                                                <div class="single_ab_text">
                                                    <h3>EASY TO CUSTOMIZE</h3>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        Lorem Ipsum has been the industry's standard dummy text
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="single_about">
                                                <div class="single_ab_icon">
                                                    <i class="fa fa-headphones"></i>
                                                </div>
                                                <div class="single_ab_text">
                                                    <h3>LIFE TIME SUPPORT</h3>
                                                    <p>
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                        Lorem Ipsum has been the industry's standard dummy text
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="single_about_left_img margin-top-40 text-center wow fadeInLeft" data-wow-duration=".6s">
                                            <img src="assets/images/abright.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_footer">
                            <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                    <div class="copyright_text">
                                        <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="https://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="flowus">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-instagram"></i></a>
                                        <a href=""><i class="fa fa-youtube"></i></a>
                                        <a href=""><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- START SCROLL TO TOP  -->

    
    <script src="~ /assets/js/vendor/jquery-1.11.2.min.js"></script>
	<script src="~ /assets/js/vendor/bootstrap.min.js"></script>
    <script src="~ /assets/js/jquery.magnific-popup.js"></script>
    <script src="~ /assets/js/jquery.mixitup.min.js"></script>
    <script src="~ /assets/js/jquery.easing.1.3.js"></script>
    <script src="~ /assets/js/jquery.masonry.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
